body
{
	background: rgba(27,33,34,0.85);
		animation:slider 20s infinite linear ;

}
h3{
	font-size: 2.1rem; /*rem=60px*/
	line-height: 1.4;
	letter-spacing: 0.5rem;
	text-align: center;
	color: white;
	margin-top:50px;

}

.maindiv{
	width:70%;
	height:400px;
	position: absolute;
	left:50%;
	top: 50%;
	transform: translate(-50%,-50%);
	
	background-size: 100% 100%;
	
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),1px 2px 10px 5px white;
	animation:slider 20s infinite linear ;
}
@keyframes slider{
	0%{background-image: url('2017_land_rover_discovery_project_hero_2-1366x768.jpg');}
	35%{background-image: url('2018_citroen_c5_aircross_4k_2-1366x768.jpg');}
	75%{background-image: url('2018_rolls_royce_cullinan_4k_6-1366x768.jpg');}
}


.tooltip {
  position: relative;
  display: inline-block;
  color:white;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}